.formContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  padding: 24px 32px 32px;
  width: 64%;
  gap: 8px;
}
.formContact button {
  font-weight: 700;
  border-color: #fff;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}
.formContact label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.formContact input {
  height: 32px;
}
